<!--footer-->
<hr>
<footer>
  <div class="container">
      <div class="row justify-content-center align-items-center">
        <font color="#F7931A">
          <div class="col-md-12"> Computer Engineering Research Management System 
            <!--a href="#" target="_blank">CoERMS</a-->
            <div class="credits">
            </div>
          </div>
        </font>
      </div>
  </div>
</footer><!--footer-->
<br>