<link rel="stylesheet" type="text/css" href="/css/sidebar.css"></li>

<div class="nav-side-menu" style="font-family: 'Raleway', sans-serif; font-size: 13px; width: 20%">
  <div class="brand">
    <nav class="navbar top-nav-collapse-2 navbar-static-top navbar-expand-lg">
      <div class="container-fluid head">
        <div class="col-xs-12">
          <img src="../images/cpe_logo.png" alt="cpe_logo" style="width: 40%">
          <h4 style="color:#fff;">Computer Engineering</h4>
        </div>
      </div>
    </nav>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li><a href="dashboard">Home</a></li>
      <li><a href="registration">Registration</a></li>
      <li data-toggle="collapse" data-target="#user_management" class="collapsed">
        <a href="#">User Management <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="user_management">
        <li><a href="students">Students</a></li>
        <li><a href="faculty">Faculty</a></li>
        <li><a href="guest_panel">Guest Panel</a></li>
      </ul>
      <li><a href="class_management">Class Management</a></li>
      <li><a href="schedule">Schedule</a></li>
    </ul>
    <!--bottom-->
    <ul id="menu-content" class="menu-content collapse out" style="position: absolute; bottom: 0; width: 100%">
      <li data-toggle="collapse" data-target="#settings" class="collapsed">
        <a href="#">ACCOUNT<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="settings">
        <li><a href="/faculty/dashboard">Faculty</a></li>
        <li><a href="settings">Account Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </ul><!--bottom-->
  </div>
</div>