<link rel="stylesheet" type="text/css" href="/css/sidebar.css"></li>

<div class="nav-side-menu" style="font-family: 'Raleway', sans-serif; font-size: 13px; width: 20%">
  <div class="brand">
    <nav class="navbar top-nav-collapse-2 navbar-static-top navbar-expand-lg">
      <div class="container-fluid head">
        <div class="col-xs-12">
          <img src="../images/cpe_logo.png" alt="cpe_logo" style="width: 40%">
          <h5 style="color:#fff;">PUP</h5>
          <h4 style="color:#fff;">CpERMS</h4>
        </div>
      </div>
    </nav>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li><a href="dashboard"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Dashboard</a></li>
      <li><a href="registration"><i class="fas fa-user-plus fa-fw" aria-hidden="true"></i> Registration</a></li>
      <li data-toggle="collapse" data-target="#user_management" class="collapsed">
        <a href="#"><i class="fa fa-users fa-fw" aria-hidden="true" ></i> User Management <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="user_management">
        <li><a href="students"><i class="fas fa-user-friends fa-fw" aria-hidden="true"></i> Students</a></li>
        <li><a href="faculty"><i class="fas fa-user-tie fa-fw" aria-hidden="true"></i> Faculty</a></li>
        <li><a href="guest_panel"><i class="fas fa-user fa-fw" aria-hidden="true"></i> Guest Panel</a></li>
      </ul>
      <li><a href="class_management"><i class="fas fa-chalkboard-teacher fa-fw" aria-hidden="true"></i> Class Management</a></li>
      <li><a href="schedule"><i class="fas fa-calendar fa-fw" aria-hidden="true"></i> Schedule</a></li>
    </ul>
    <!--bottom-->
    <ul id="menu-content" class="menu-content collapse out" style="position: absolute; bottom: 0; width: 100%">
      <li><a href="../compendium" target="_blank" style="color: #00A3E8"><i class="fa fa-search"></i> COMPENDIUM</a></li>
      <li data-toggle="collapse" data-target="#settings" class="collapsed">
        <a href="#"><i class="fa fa-user-circle fa-fw"></i> <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="settings">
        <li><a href="/faculty/dashboard"><i class="fas fa-user"></i> Faculty</a></li>
        <li><a href="settings"><i class="fas fa-user-cog"></i> Account Settings</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
      </ul>
    </ul><!--bottom-->
  </div>
</div>