<!--banner-->
<nav class="navbar top-nav-collapse-2 navbar-static-top navbar-expand-lg">
  <div class="container-fluid head">
    <img class="nav-logo" src="../images/cpe_logo.png" alt="cpe_logo">
    <div class="col-xs-12">
      <h5 style="color:#fff;">Polytechnic University of the Philippines</h5>
      <h4 style="color:#fff;">Computer Engineering Research Management System</h4>
    </div>
  </div>
</nav><!--banner-->

<!--navigation -->
<div class="navbar navbar-inverse navbar-static-top navbar-expand-lg small">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <!--nav titles-->
      <ul class="nav navbar-nav">
        <li><a href="dashboard"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Dashboard</a></li>
        {{#if committee}}
         <li><a href="proposals"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Committee</a></li>
            {{/if}}
         {{#if adviser}}
         <li><a href="mor"><i class="fas fa-marker fa-fw" aria-hidden="true"></i> MOR</a></li>
         {{/if}}
         <li><a href="title_defense"><i class="fas fa-file-alt fa-fw" aria-hidden="true"></i> Title Defense</a></li>
        <li><a href="dp1"><i class="far fa-file fa-fw" aria-hidden="true"></i> Defense I</a></li>
        <li><a href="dp2"><i class="fas fa-file fa-fw" aria-hidden="true"></i> Defense II</a></li>
      </ul><!--nav titles-->
      <!--account name-->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../compendium" target="_blank" style="color: #00A3E8"><i class="fa fa-search"></i> COMPENDIUM</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user-circle fa-fw"></i> {{first_name}} </a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            {{#if admin}}
              <li><a href="/admin/dashboard"><i class="fas fa-user-secret"></i> Admin</a></li>
            {{/if}}
              <li><a href="settings"><i class="fas fa-user-cog"></i> Account Settings</a></li>
              <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
        </li>
      </ul><!--account name-->
    </div>
  </div>
</div><!--navigation -->

<br>
