<!--banner-->
<nav class="navbar top-nav-collapse-2 navbar-static-top navbar-expand-lg">
  <div class="container-fluid head">
    <img class="nav-logo" src="../images/cpe_logo.png" alt="cpe_logo">
    <div class="col-xs-12">
      <h5 style="color:#fff;">Polytechnic University of the Philippines</h5>
      <h4 style="color:#fff;">Computer Engineering Research Management System</h4>
    </div>
  </div>
</nav><!--banner-->

<br>