<!--banner-->
<nav class="navbar top-nav-collapse-2 navbar-static-top navbar-expand-lg">
  <div class="container-fluid head">
    <div class="col-xs-12">
      <h3 align="center" style="color:#fff;">Polytechnic University of the Philippines</h5>
      <h3 align="center" style="color:#fff;">Computer Engineering Research Management System</h4>
    </div>
  </div>
</nav><!--banner-->

<br><br>