<head>
	<title>CpERMS | Forgot Password</title>
	<!-- LOCAL -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header }}

<!--forget pw-->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="row box">
        <div class="col-md-12">
          <div class="text-center">
          	<h3>Forgot Password</h3>
          	<p class="small center-block" style="width: 80%">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
          	<hr class="redline">
          </div>
          <form method="POST" action="forgot_password">
              <div class="form-group">
                 <label class="sr-only" for="user_email">Email</label>
                 <input type="text" name="username" class="form-control icon-placeholder" id="user_email" placeholder="&#xf0e0;   Email Address" required>
              </div>
              <div class="form-group">
                 <button type="submit" class="btn btn-success btn-block" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait...">Forgot Password</button>
              </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div><!--forget pw-->

{{> footer }}