<head>
  <title>CpERMS | Dashboard</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_admin }}

<!--admin dashboard-->
<br>
<div style="width: 80%; position: absolute; right: 0;">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="d-flex well">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12"><br><br><br><br>
          <h1 align="center" style="font-size:70px;color:orange;">Computer Engineering Thesis Management System</h1><br><br><br>
                </div>  
          </div><!--row 4-->
        </div>
      </div>
    </div>
  </div>
</div><!--admin dashboard-->