<head>
  <title>CpERMS | Schedule</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head
>
{{> header_students }}

<!--students schedule-->
<div class="d-flex justify-content-center">
  <div class= "well well-width">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-sm-12">
          <h4>Schedule</h4>
          <hr class="botm-line">
        </div>
      </div>
    </div>
  </div>
</div><!--students schedule-->

{{> footer }}