<head>
  <title>CpERMS | Dashboard</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_faculty }}

<!--faculty home-->
<div class="d-flex justify-content-center">
  <div class= "well well-width">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-sm-12"><br><br><br>
          <h1 align="center" style="font-size:70px;color:orange;">Hello Ma'am/Sir!!<br>Welcome to CoE Thesis Management</h1><br><br><br>
                </div>
              </div>
            </div><!--row 1-->
          </div>
        </main>
      </div>
    </div>
  </div>
</div><!--faculty home-->


