<head>
  <title>CoERMS | Home</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_guest_panel }}

<!--faculty home-->
<div class="d-flex justify-content-center">
  <div class= "well well-width">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-sm-12">
          <h4>Home</h4>
          <hr class="botm-line">
          <!--content-->
          <div class="text-center">
            <h1><i class="fa fa-user-circle fa-4x"></i></h1>
            <h1>Welcome</h1>
            <h2>{{first_name}} {{middle_name}} {{last_name}}!</h2>
          </div><!--content-->
        </div>
      </div>
    </div>
  </div>
</div><!--faculty home-->

{{> footer }}
